/**
 * stretch the root element of the OpenSearch Dashboards application to set the base-size that
 * flexed children should keep. Only works when paired with root styles applied
 * by core service from new platform
 */
// SASSTODO: Naming here is too embedded and high up that changing them could cause major breaks
#opensearch-dashboards-body {
  min-height: 100%;
}

.app-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  min-height: calc(100vh - #{$osdHeaderOffset});

  .headerIsExpanded & {
    min-height: calc(100vh - #{$osdHeaderOffset * 2});
  }

  &.hidden-chrome {
    min-height: 100vh;
  }
}

.app-wrapper-panel {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  > * {
    flex-shrink: 0;
  }
}

// make dividers normal
.euiHeaderSectionItem--borderLeft:after, 
.euiHeaderSectionItem--borderRight:after {
  top: 0;
}

// show query bar
.osdQueryBar__textarea {
//  padding: 6px 8px 3px !important;
//  height: 30px !important;
//  transform: translateY(-1px) translateX(0px) !important;

}

// make table denser
.osd-table th,
.osd-table td {
  padding: 6px !important;
}
.osd-table td.osdDocTableCell__toggleDetails {
  padding: 3px 0 0 4px !important;
}

// make discover left bar field group header smaller
.dscSideBar_fieldGroup {
  font-size: .75rem !important;
  font-weight: 600;
}

.globalFilterItem__editorForm {
  padding: 8px !important;
}

.euiPopoverTitle,
.euiContextMenuPanelTitle--small,
.euiContextMenuPanelTitle {
  text-transform: none !important;
}
